/* Global CSS Rules */
* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #AEADAD;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #737373;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
}

.flex-home-page {
    height: 100%;
    padding: 0;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    text-align: center;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    list-style-type: none;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .chart {
    width:700px;
} */

.stock-search {
    text-align: center;
}

.flex-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-row {
    width: auto;
}

h2 {
    text-align: center;
}

.stock-table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 7px;
}

.chart {
    margin-right: auto;
    margin-left: auto;
}

.search-results {
    width: 100%;
    margin-bottom: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.item-double {
    flex: 2;
    margin: 5px;
}

.item {
    flex: 1;
    margin: 5px;
}

.data-table {
    margin-top: 15px;
}

@media all and (min-width: 900px) {
    .search-results {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .group {
        flex-direction: row;
    }
    .item-double {
        width: 50% !important;
    }
    .item {
        width: 50%;
    }
}